$primary-color: #3b5a76;
$background-color: #ededed;
$text-color: #363636;
$font: 16px;


footer {
    background: $primary-color;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}